body
{
    background-color: antiquewhite;
}
.text
{
 text-align: center;
   padding-top: 2vh;
}
.text>p
{
    font-size:4vw;
    font-family: fantasy;
    animation:text 3s;
}
@keyframes text
{
    from{color:antiquewhite;}
}
main>p
{
    width:48%;
    margin-left: 2%;
    font-size: 2.5vw;
    font-family: sans-serif;
}
.main4>p
{
    font-size:2vw;
    width:44%;
}
.main5>p
{
    font-size:2.2vw;
}
main
{
    display:flex;
    width:100%;
}
.main2,
.main3,
.main4,
.main5
{
    margin-top: 20vh;
}
footer>ul
{
    list-style-type: none;
}
footer
{
    width:100%;
    display:flex;
    align-items: center;
    margin-top: 10vh;
    background-color: burlywood;
    height:20vh;
}
footer>ul>li
{
    font-size:1.5vw;
    font-family: sans-serif;
}
